body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.label {
  width: 120px;
  display: inline-block;
}

.nav ul {
  padding: 0;
}

.nav li {
  display: inline;
}

.nav .selected {
  background-color: lightskyblue;
}

.nav a {
  background-color: #eeeeee;
  text-decoration: none;
  padding: 10px;
  color: black;
}

.authMethods {
  display: flex;
} 

.authMethods form {
  margin-right: 100px;
}

.otherAuthMethods div {
  margin: 32px 0;
}

.otherAuthMethods div a {
  background-color: lightskyblue;
  text-decoration: none;
  padding: 10px;
  color: black;
}
